body{
    background: linear-gradient(to bottom, #24098F, #230329); 
}


.center-image {
    text-align: center;
}
.cube { 
    width: 8%; 
    margin-top: 20vh;
}


.menue{
    position: absolute;
    align-items: center;
    justify-content: space-between;
    margin-left: 35vh;
    display: flex;
}
.user{
    width: 25%; 
    height: 25%;
}

.heart{
    width: 25%; 
    height: 25%;
}
.home{
    width: 25%; 
    height: 25%;
}

.games{
    display: grid;
    grid-template-columns: 50vh 50vh 50vh 50vh;
    grid-template-rows: 45vh 45vh 45vh;
    grid-auto-flow: column;
    margin-bottom: 3vh;
}
.games_favorit{
    display: grid;
    grid-template-columns: 50vh 50vh 50vh 50vh;
    grid-template-rows: 45vh 45vh;
    grid-auto-flow: column;
    margin-bottom: 3vh;
}
.nonogram{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.img-wrap{
    position: relative;
}
.game_text{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: none;
    color: rgb(248, 244, 243);
    font-size: 200%;
    left: 40%;
    height: 12%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.img-wrap:hover .game_text{
    display: block;
}
a:hover{
    opacity: 0.6; 
}
.sudocu{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.puzzle{
    max-width: 90%; 
    max-height: 90%;
}
.block{
    width: 20vw; 
    height: auto;
}
.numbers{
    width: 40vh; 
    height: 40vh;
}
.manjogi{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.cut{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.magic{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.words{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.cake{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.glass{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.solitaire{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}

.picture{
    text-align: center;
}
.logo{
    border-radius: 90vh;
    margin-top: 15%;
    height: 20%;
}