body{
    background: linear-gradient(to bottom, #24098F, #230329); 
}

.top-box{
    display: flex;
    align-items: stretch;
    height: 10vh;
}
.center-image {
    text-align: center;
}
.cube { 
    width: 8%; 
}
.menue{
    align-items: center;
    justify-content: space-between;
    margin-left: 35vh;
    display: flex;
}
.user{
    width: 25%; 
    height: 25%;
}

.heart{
    width: 25%; 
    height: 25%;
}
.home{
    width: 25%; 
    height: 25%;
}

.games{
    display: flex;
    grid-auto-flow: column;
    margin-bottom: 3vh;
}
.games_favorit{
    display: grid;
    grid-template-columns: 40vh 40vh 40vh 40vh;
    grid-template-rows: 45vh 45vh;
    grid-auto-flow: column;
    margin-bottom: 3vh;
    margin-left: 7vh;
}
.nonogram{
    width: 40vh; 
    height: 40vh;
    border-radius: 10vh;
}
.img-wrap{
    position: relative;
}
.game_text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50%);
    display: none;
    color: rgb(248, 244, 243);
    font-size: 145%;
    left: 65%;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.img-wrap:hover .game_text{
    display: block;
}
a:hover{
    opacity: 0.6; 
}

.games_r{
    max-width: 10vw;
    height:auto;
    border-radius: 20%;
    margin-left: 4vw;
}
.numbers_puzzle{
    background-color: #43024e6d;
    border: #43024e;
    border-radius: 30vw;
    min-height: 30vh;
    min-width: 100vh;
    margin-bottom: 2vh;
}
.numbers_puzzle .numbers_puzzle_text{
    color: antiquewhite;
    font-size: 170%;
    margin-left: 7vw;
}

.picture{
    text-align: center;
}
.logo{
    border-radius: 90vh;
    margin-top: 15%;
    height: 20%;
}