body{
    background: linear-gradient(to bottom, #24098F, #230329); 
}


.center-image {
    text-align: center;
}
.cube { 
    width: 5%; 
    }



.menue{
    position: absolute;
    bottom: 2vh;;
    align-items: center;
    justify-content: space-between;
    margin-right: 6vh;
    display: flex;
}

.user{
    width: 5%; 
    height: 5%;
}

.heart{
    width: 5%; 
    height: 5%;
}

.home{
    width: 5%; 
    height: 5%;}