body{
    background: linear-gradient(to bottom, #24098F, #230329); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper h1{
    text-align: center;
    margin-bottom: 2.5vh;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 2.5vh;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 2vh;
    background-color: rgba(251, 255, 10, 0.5);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.25);
}

.input-box input::placeholder {
color: rgba(0, 0, 0, 0.8);
}

.input-box i{
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
    right: 5%;
    top: 25%;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 2.5vh;
    color: #ffffff83;
    margin-bottom: 2.5vh;
}

.wrapper .bth{
    width: 100%;
    height: 5vh;
    background-color: #79098F;
    color: #FBFF0A;
    border: none;
    border-radius: 2vh;
    margin-bottom: 2.5vh;

}

.wrapper .register-link{
    text-align: center;
    color: #ffffff83;
}

.register-link p a{
    color: #79098F;
    text-decoration: none;
    font-weight: 2vh;
}

.register-link p a:hover{
    text-decoration: underline;
}